<!-- HEADER -->
<div class="header-continer">
	<div class="header-top">
		<div class="header-top-container">
			<nav>
				<ul>
					<li>
						<button type="button" id="btn-reg-restaurant">
							Зарегистрировать ресторан
						</button>
					</li>
					<li>
						<button type="button" id="btn-login">Войти в аккаунт</button>
					</li>
					<li>
						<button type="button" id="btn-registration">
							Зарегистрироваться
						</button>
					</li>
				</ul>
			</nav>
		</div>
	</div>

	<div class="header-bottom">
		<div class="header-bottom-container">
			<nav>
				<ul>
					<li><a href="#">Найти еду</a></li>
					<li><a href="#">Заказы</a></li>
					<li><a href="/profile">Профиль</a></li>
				</ul>
			</nav>
		</div>
	</div>
</div>