{{> head}}
	<body>
        {{> header}}
        <div class="container">
            {{!-- HandleBars будет рендерить нужный HTML код на место body --}}
            {{{ body }}}
        </div>
	</body>
</html>