<!-- MAIN CONTENT -->
<section class="main-container">
	<div class="announ-main-container">
		<div class="announ-content-container">
			<div class="announ-content">
				<button id="actions" type="button">Нет акций</button>
				<div class="announ-main-content">
					<div class="announ-title">
						<div class="announ-title-back">
							<h1>"Аппетитный хот-дог"</h1>
						</div>
					</div>

					<div class="announ-description">
						<div class="announ-description-back">
							Хороший итальянский кофе и вкусные блоучки.
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="announ-info-container">
			<div class="announ-info-content">
				<div class="announ-common-info">
					<div class="announ-name-person">
						<label>ФИО владельца:</label>
						<input type="text" disabled id="person-info" value="Петров В.А." />
					</div>
					<div class="announ-phone-person">
						<label>Мобильный телефон:</label>
						<input
							type="text"
							disabled
							id="person-number"
							value="+79809065849"
						/>
					</div>
					<div class="announ-name-object">
						<label>Название объекта:</label>
						<input
							type="text"
							disabled
							id="name-object"
							value="Сладкие пирожки"
						/>
					</div>
				</div>
				<div class="announ-search">
					<button type="button" id="btn-announ-search">
						Найти на карте
					</button>
				</div>
			</div>
		</div>
	</div>
</section>